* {
    padding: 0;
    margin: 0;
}

.allpage {
    width: 1024px;
    margin: auto;
}

.menu {
    width: 100%;
    overflow: auto;
    background-color: #66b3ff;
    list-style-type: none;
    border-bottom: 3px solid #cccccc;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.menu li {
    float: left;
    width: 7em;
    border-right: 1px solid #cccccc;
}

.menu li a {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 2.5em;
    color: #333333;
}

.menu li a:hover {
    background-color: #0080ff;
    color: #ffffff;
}

.title {
    background-color: #0066cc;
    color: #f0f0f0;
    padding-left: 20px;
    line-height: 2.5em;
}

article section {
    margin: 16px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

article section p {
    margin: 10px 0;
}

.list1 {
    list-style: decimal inside;
}
aside dl {
    margin:16px;
}
.content {
    overflow:auto;
    width:100%;
    /* border:1px solid gray; */
}
article {
    width:75%;
    float:left;
}
aside {
    width:20%;
    float:right;
}
footer {
    background-color:#66B3FF;
    line-height:2.5em;
    text-align:center;
    color:#ffffff;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}